@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');

:root {
    --primary-dark: #E63946;
    --secondary-color: #F1FAEE;
    --white: white;
    --dark: #1D3557
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: var(--secondary-color);
    color: var(--white);
    height: 100%;
}

.nav {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0px 1rem;
    background-color: var(--primary-dark);
    align-items: center;
    color: var(--primary-color);
}

.bg-nav {
    background-color: var(--primary-dark);
}

.nav .fa-github {
    font-size: 32px;

}

input,
label {
    display: block;
    width: 100%;
    padding: 1rem;
    font-size: larger;
    font-weight: 600;
    border-radius: 0.35rem;
    text-align: left;
    border: 0;
    color: var(--dark);
}

.cover-img img {
    max-width: 550px;
    width: 100%;
}

input {
    border: 2px solid var(--primary-dark);
    font-weight: 500
}

h1 {
    text-align: center;
    padding: 1rem;
    background-color: var(--primary-dark);
}


main {
    max-width: 1200px;
    margin: auto;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

.btn-flex {
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
}

.form {
    display: flex;
}

button {
    margin: 1rem;
    display: block;
    background-color: var(--dark);
    border-radius: 0.5rem;
    padding: 0.75rem;
    width: 90%;
    font-size: large;
    font-weight: 500;
    border: 3px solid var(--dark);
    cursor: pointer;
    margin-bottom: 1rem;
    color: var(--white);
}

#reset-button {
    color: var(--white);
    background-color: var(--primary-dark);
    border: 3px solid var(--primary-dark);
}

#output-box {
    width: 100%;
    padding: 1rem;
    font-size: larger;
    font-weight: 600;
    color: var(--dark);
}

#process-box,
#error-box {
    width: 100%;
    padding: 1rem;
    font-size: larger;
    font-weight: 600;
    color: var(--dark);
}

.about {
    width: 100%;
    padding: 1.5rem;
    font-size: larger;
    font-weight: 600;
    color: var(--dark);
    text-align: left;
    font-size: 1.5rem;
}

.heading-name {
    display: block;
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--primary-dark);
}

.flex {
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
}

.flex div {
    width: 100%;
}

.profit {
    font-size: 4rem;
}

#output-box {
    font-size: 2rem;
    text-align: left;
}

/* footer */

.footer {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--dark);
}

footer {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark);
    color: var(--third-color);
    padding: 1rem;
    text-align: center;
}

.footer .link {
    color: var(--third-color);
}

.footer ul {
    padding-inline-start: 0px;
}

.footer-header {
    font-weight: 600;
    font-size: large;
}

/**spcae**/
.link {
    text-decoration: none;
    padding: 0.5rem;
}

.list-space {
    padding-bottom: 1rem;
}

.list-non-bullets {
    list-style: none;
}


.list-item-inline {
    display: inline;
}

a {
    text-decoration: none;
    font-weight: normal;
}

.icon-social {

    font-size: 24px;

}

.social {
    transition: all 0.3s;
}


.footer-list li {

    display: inline;
    margin: 0 0.25rem;
}

.bottom {
    color: var(--third-color);
    padding-bottom: 0px;
}

@media screen and (min-width: 320px) and (max-width: 600px) {

    .footer {
        margin-top: 2rem;
        position: static;
        border-radius: 1rem;
    }
}

.loading-img img {
    width: 100%;

}


@media only screen and (max-width: 600px) {
    .flex {
        justify-content: center;
        flex-direction: column-reverse;

    }

    .form {
        display: flex;
        flex-wrap: wrap;
        padding: 0.5rem;
    }

    footer {
        justify-content: center;
        flex-direction: column;
    }

    button {
        margin: 0.5rem 0.5rem 0.5rem 0.5rem;

    }

    footer p {
        margin-top: 0;
    }

    .main {
        margin: 0 auto;
    }

    .nav a span {
        display: none
    }

    .btn-flex {
        padding: 0 0.5rem;
    }

    input,
    label {

        padding: 0.5rem;

    }


    .profit {
        font-size: 2.5rem;
    }

    #output-box {
        font-size: 1.5rem;
        text-align: center;
    }

    .about {
        padding: 0.5rem;
    }
}

.hero-img img {
    width: 100%;
    max-width: 600px;
}

.nav a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.nav a span {
    font-size: 1.25rem;
}

.output-div {
    margin-bottom: 20rem;
}

.margauto {
    margin: 3rem auto;
    padding: 1rem;
}

img {
    border-radius: 0.5rem;
}

.nav a {
    color: var(--white);
}